.comp {
  display: inline-flex;
  width: 100%;
}

.message {
  margin-left: 50px;
  margin-top: 50px;
  display: block;
  width: 50%;
}

.form {
  margin-left: 0%;
  margin-top: 10%;
  display: block;
  width: 50%;
}
